/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/04/2019, 12:14:12
    Author     : democrito.rodrigo
*/
body{
    height: 100%;
    overflow-y: hidden;
}
.secaoLogin{
    height: inherit;
    background-color: darkgreen;
    padding: calc(25% - 140px) calc(50% - 290px);
}
.painel-login{
    padding: 5%;
    height: 280px;
    width: 580px;
    border: 1px lightgreen solid;
    border-radius: 8px;
    box-shadow: 5px 5px 5px lightgreen;
    background-color: white;
    color: #666;
}
.painel-login-esquerda{
    float: left;
    margin: 30px 20px 0 0;
}
.painel-login-direita{
    float: right;
}

.painel-login-direita form{
    min-height: inherit !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

header{
    height: 150px;
    /*align-content: center;*/
    padding: 3% 10% 1% 20%;
    color: darkblue;
}

header img{
    float: left;
    margin-right: 5%;
}

.bem-vindo{
    float: right;
    color: #0000CC;
    margin-right: 10px;
}

.bem-vindo a{ color: #0000CC;}
.bem-vindo a:hover{text-decoration: none !important;}
.bem-vindo a:visited{ color: #0000CC;}

h1{
    align-self: center;
    text-align: center;
    font-size: 30px !important;
}

p{text-align: center;}

section{
    padding: 5% 8%;
}

.secaoForm{
    background-color: #ddd;
}

form{
    min-height: 350px;
    background-color: white;
    border-radius: 25px;
    padding: 5%;
    align-content: center;
}

form input{
    height: 34px;
    border-radius: 4px;
    border: 1px #ccc solid;
    background-color: #eee;
}

form input:active{
    box-shadow: 2px #3A7ADB;
}

table th, td{
    align-self: center;
    width: border-box;
    width: -moz-border-box;
    margin: auto;
}
thead tr{
    background-color: darkblue;
    color: white;
}
tbody tr:nth-child(even){
    background-color: #ffffdd;
    color: black;
}
tbody tr:nth-child(odd){
    background-color: #ddffdd;
    color: black;
}

.div-tabela{
    margin: 1% 10% 5% 10%;
}

footer p{
    text-align: center;
}

.titulo-tabela{
    color: #666;
    text-align: center;
}